# Hawk API endpoint URL
VUE_APP_API_ENDPOINT=http://localhost:3000/graphql

# Mock API requests (uncomment it if necessary)
# VUE_APP_API_MOCK=true

# API OAuth endpoints
VUE_APP_API_AUTH_GITHUB=http://localhost:3000/auth/github
VUE_APP_API_AUTH_GOOGLE=http://localhost:3000/auth/google
