<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ meta.title or 'Hawk.so' }}</title>
  <meta property="og:title" content="{{ meta.title or 'Hawk.so' }}"/>
  <meta property="og:site_name" content="Hawk">
  <meta name="description" property="og:description"
        content="{{ meta.description or 'Fast and lightweight errors tracking service.' }}"/>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
