.auth-page {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: var(--color-bg-main);

  @media (max-height: 500px) {
    align-items: flex-start;
    padding: 30px 0;
  }

  @media (--media-mobile) {
    padding: 15px;
  }

  &__form {
    width: 100%;
    max-width: 568px;
    margin: 0 auto;

    @media (--media-mobile) {
      max-width: 287px;
    }
  }
}
