@import "normalize.css";
@import "variables.css";

/**
 * Base site styles
 */
html {
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  min-height: 100%;
  color: var(--color-text-main);
  font-size: 15px;
  font-family: Roboto, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Base elements rules
 */
a {
  color: inherit;
  text-decoration: none;
}

/**
 * Cancel default list styles
 */
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/**
 * Clearfix for float elements
 */
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

/**
 * Forms elements
 */
.input {
  width: 100%;
  padding: 11px 12px;
  color: var(--color-text-main);
  font-size: 14px;
  background: var(--color-bg-main);
  border: 1px solid var(--color-border-input);
  border-radius: 3px;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 1px var(--color-indicator-medium);
  }
}

.button {
  padding: 12px 35px;
  line-height: 1em;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;

  &--submit {
    min-width: 90px;
    padding: 12px;
    color: var(--color-text-main);
    font-weight: 500;
    font-size: 14.4px;
    background-color: var(--color-indicator-medium);
    border-radius: 4px;
  }
}

::placeholder {
  color: var(--color-text-second);
  opacity: 0.35;
}

.label {
  display: block;
  color: var(--color-text-second);
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

svg {
  fill: currentColor;
}

body .cdx-notifies {
  right: 20px;
  left: auto;
}

body .cdx-notify {
  font-size: 13px;
  background-color: var(--color-bg-second);
  box-shadow: 0 6px 17px -4px #0000009c;

  &__btns-wrapper {
    margin-top: 8px;
  }
}
