@import "normalize.css";
@import "variables.css";
@import "code-highlighting.css";
@import "ripple-effect.css";

/**
 * Base site styles
 */
html,body {
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  min-height: 100vh;
  color: var(--color-text-main);
  font-size: 15px;
  font-family: Roboto, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Base elements rules
 */
a {
  color: inherit;
  text-decoration: none;
}

/**
 * Style for underlined links
 */
.link--underlined {
  padding-bottom: 1px;
  border-bottom: 2px solid currentColor;
}

/**
 * Cancel default list styles
 */
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/**
 * Cancel default pre tag styles
 */
pre {
  margin: 0;
}

/**
 * Clearfix for float elements
 */
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

/**
 * Forms elements
 */
.input {
  width: 100%;
  padding: 10px 12px;
  color: var(--color-text-main);
  font-size: 14px;
  background: var(--color-bg-main);
  border: 1px solid var(--color-border-input);
  border-radius: 3px;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 1px var(--color-indicator-medium);
  }
}

.button {
  padding: 12px 35px;
  line-height: 1em;
  background-color: var(--color-indicator-medium);
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: var(--color-indicator-medium-dark);
  }

  &--submit {
    min-width: 90px;
    padding: 12px;
    color: var(--color-text-main);
    font-weight: 500;
    font-size: 14.4px;
    background-color: var(--color-indicator-medium);
    border-radius: 4px;
  }

  &--small {
    padding: 5px 15px;
    color: var(--color-text-main);
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.14px;
  }

  &--rounded {
    border-radius: 11.5px;
  }

  &--quiet {
    color: var(--color-text-second);
    font-weight: 500;
    font-size: 14px;
    background-color: var(--color-bg-main);
    border-radius: 4px;
  }

  &--copy {
    height: 22px;
    padding: 0 13px;
    color: var(--color-text-main);
    font-size: 11px;
    line-height: 23px;
    letter-spacing: 0.14px;
    background-color: var(--color-indicator-medium);
    border: 0;
    border-radius: 11.5px;
    outline: none;
  }
}

::placeholder {
  color: var(--color-text-second);
  opacity: 0.35;
}

.label {
  display: block;
  color: var(--color-text-second);
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

svg {
  fill: currentColor;
}

.delimiter {
  border: 1px solid var(--color-text-second);
  opacity: 0.1;
}

body .cdx-notifies {
  right: 20px;
  left: auto;
  z-index: 9995;
  box-sizing: content-box;
}

body .cdx-notify {
  padding: 10px 20px;
  font-size: 15px;
  background-color: var(--color-bg-second) !important;
  box-shadow: 0 6px 17px -4px #0000009c;

  &__btns-wrapper {
    margin-top: 8px;
  }

}

@media (--media-mobile) {
  body .cdx-notify {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 30px 40px;
    font-size: 36px;
  }

  body .cdx-notifies {
    left: 20px;
  }

  body .cdx-notify__cross {
    display: none;
  }
}


/**
 * Loader
 */
.loader {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    border: 2px solid var(--color-text-main);
    border-left-color: var(--color-indicator-medium);
    border-radius: 50%;
    animation: loaderRotation 500ms infinite linear;
    content: '';
  }
}

@keyframes loaderRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searched {
  display: inline-block;
  padding: 0 2px;
  color: #000000;
  background: #24b6ff;
  border-radius: 3px;
  box-shadow: 0 0 11px rgba(20, 174, 255, 0.49);
  animation: bounce .2s ease-in;
}

@keyframes bounce {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
