:root {
  --hide-scrollbar: {

    /* Chrome, Safari, newer versions of Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    overflow: -moz-scrollbars-none; /* Firefox */
    scrollbar-width: none; /* newer versions of Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  };


  --clearfix: {
    &::after {
      display: table;
      clear: both;
      content: "";
    }
  };

  --ui-label: {
    color: var(--color-text-second);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
  }

  --font-small: {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.16px;
  }

  --shaking: {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }

  --empty-placeholder: {
    padding: 80px 0;
    color: var(--color-text-second);
    text-align: center;
  }

  --skeleton-base: {
    background-color: var(--color-bg-third);
    background-image: linear-gradient(
      90deg,
      transparent 0%,
      var(--color-bg-second) 50%,
      transparent 100%
    );
    background-size: 200% 100%;
    animation: skeleton-shimmer 1.5s infinite;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes skeleton-shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}
