@define-mixin hide-scrollbar {
  /* Chrome, Safari, newer versions of Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  overflow: -moz-scrollbars-none; /* Firefox */
  scrollbar-width: none; /* newer versions of Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

@define-mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

@define-mixin ui-label {
  color: var(--color-text-second);
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}

@define-mixin font-small {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.16px;
}

@define-mixin shaking {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@define-mixin empty-placeholder {
  padding: 80px 0;
  color: var(--color-text-second);
  text-align: center;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


@define-mixin ui-label {
  color: var(--color-text-second);
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}
