@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
  src:
    local("Roboto"),
    local("Roboto Regular"),
    url("../assets/fonts/roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
  src:
    local("Roboto Italic"),
    local("Roboto-Italic"),
    url("../assets/fonts/roboto/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations");
}

