.guide-page {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;

  &__instructions {
    padding: 40px;
    overflow: hidden;

    &-header {
      margin-bottom: 20px;
      color: var(--color-text-second);
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.15px;
      text-transform: uppercase;
    }

    a {
      color: var(--color-text-highlighted);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__instructions-table {
    width: 100%;
    border-collapse: collapse;
  }

  &__instructions-table th {
    background-color: var(--color-bg-main);
  }

  &__instructions-table td,
  &__instructions-table th {
    padding: 10px 13px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid var(--color-delimiter-line);
  }

  .code-block {
    margin: 15px 0;
  }

  code {
    margin: 0 2px;
    padding: 2px 6px;
    background: var(--color-bg-third);
    border-radius: 4px;
  }
}
