:root {
  /** Texts */
  --color-text-main: #dbe6ff;
  --color-text-second: color-mod(var(--color-text-main) alpha(60%));
  --color-text-dark: var(--color-bg-main);
  --color-text-highlighted: #719dff;

  /** Backgrounds */
  --color-bg-main: #242732;
  --color-bg-second: #2f3341;
  --color-bg-sidebar: #1a1d26;

  --color-indicator-critical: #d94848;

  --color-indicator-medium: #4979e4;
  --color-indicator-medium-dark: #3a61b9;

  --border-radius: 10px;

  --color-border-input: #1f2230;

  --font-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
}

.app--theme--light {
  --color-bg-main: #ff0000;
}

/**
* Custom media queries
*/
@custom-media --media-desktop all and (min-width: 1050px);
@custom-media --media-mobile all and (max-width: 980px);
