:root {
  /** Texts */
  --color-text-form-gray: #555968;

  /** Borders */
  --color-line-gray: #d4d6d8;

  /** Backgrounds */
  --color-bg-button: #c5dff5;
  --color-bg-submit-button: #4592da;

}

/**
* Custom media queries
*/
@custom-media --media-desktop all and (min-width: 1050px);
@custom-media --media-mobile all and (max-width: 980px);
@custom-media --media-retina all and (-webkit-min-device-pixel-ratio: 1.5);
