:root {
  /** Texts */
  --color-form-gray-text: #555968;

  /** Borders */
  --color-gray-line: #d4d6d8;

  /** Backgrounds */
  --color-button-bg: #c5dff5;
  --color-submit-button-bg: #4592da;

}

/**
* Custom media queries
*/
@custom-media --media-desktop all and (min-width: 1050px);
@custom-media --media-mobile all and (max-width: 980px);
@custom-media --media-retina all and (-webkit-min-device-pixel-ratio: 1.5);
