@import url("../../common/styles/base.css");
@import url("../../common/styles/variables.css");
@import url("variables.css");

.yard-home {
  padding: 60px 60px 20px;
  font-size: 20px;

  @media (--media-mobile) {
    padding: 15px;
  }

  &__title {
    font-size: 2.6em;
    color: #fff;
  }

  &__caption {
    color: var(--color-yard-gray-text);
    line-height: 1.4em;
  }

  &__links {
    margin-top: 1em;
    font-weight: bold;

    li {
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 0.6em;
    }

    a {
      color: #fff;

      &.primary {
        color: var(--color-yard-link-on-dark);
      }

    }
  }

  &__figure {
    margin: 0 0 30px;
    color: var(--color-yard-gray-text);

    img {
      margin-top: 1em;
      max-width: 100%;
    }
  }

  &__footer {
    border-top: 1px solid color(var(--color-yard-background) lightness(+5%));
    font-size: 15px;
    padding: 20px 0 0;
    letter-spacing: 0.18px;

    a {
      color: var(--color-green-text);
      border-bottom: 1px solid color(var(--color-green-text) alpha(60%));

      &:hover{
        color: #fff;
        border-bottom-color:color(#fff alpha(60%));
      }
    }

    .fl_r {
      @media (--media-mobile) {
        float: none;
        margin-top: 8px;
      }
    }
  }
}
