:root {
  /** Texts */
  --color-gray-text: #8a97ab;
  --color-link-on-dark: #31ffac;
  --color-green-text: #00b693;
  --color-gray-on-dark: #a1a6b3;
  --color-error-message: #cd4949;

  /** Backgrounds */
  --color-yard-background: #1d1d27;
}
