{% extends 'layout.twig' %}

{% block body %}

  <div class="yard-page yard-home">
    <h1 class="yard-home__title">Hawk.so</h1>
    <p class="yard-home__caption">Fast and lightweight errors tracking service. Backend and Frontend events monitoring.</p>
    <ul class="yard-home__links">
        <li><a class="primary" href="/garage">Try for free</a></li>
        <li><a href="/sign-up">Sign up</a></li>
        <li><a href="/login">Login</a></li>
      <li><a href="/docs">Documentation</a></li>
    </ul>
    <figure class="yard-home__figure">
      <a href="/garage">
        <img src="./assets/list.png" alt="Backend and Frontend errors monitoring">
      </a>
    </figure>

    <div class="yard-home__footer">
      Made with inspiration by <a href="//ifmo.su">CodeX</a>.
      <div class="fl_r">
        Feel free to leave a Feedback to the <a href="mailto:team@ifmo.su?subject=Hawk">team@ifmo.su</a>.
      </div>
    </div>
  </div>

{% endblock %}
