name: Build and push docker image

on: [push]

env:
  DOCKER_REPO: ${{ secrets.DOCKER_USERNAME }}/hawk-garage

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Make stage envfile
        if: endsWith(github.ref, '/stage')
        uses: SpicyPizza/create-envfile@v1
        with:
          envkey_VITE_HAWK_TOKEN: ${{ secrets.HAWK_TOKEN_PROD }}
          envkey_VITE_AMPLITUDE_TOKEN: ${{ secrets.AMPLITUDE_TOKEN_PROD }}
          envkey_VITE_CLOUDPAYMENTS_PUBLIC_ID: ${{ secrets.CP_PUBLIC_ID_STAGE }}
          envkey_VITE_API_ENDPOINT: "https://api-staging.hawk.so"
          envkey_VITE_FREE_PLAN_ID: ${{ secrets.FREE_PLAN_ID }}
          # envkey_VITE_HAWK_TOKEN: ${{ secrets.HAWK_TOKEN_STAGE }}
          # envkey_VITE_AMPLITUDE_TOKEN: ${{ secrets.AMPLITUDE_TOKEN_STAGE }}
          # envkey_VITE_CLOUDPAYMENTS_PUBLIC_ID: ${{ secrets.CP_PUBLIC_ID_STAGE }}
          # envkey_VITE_API_ENDPOINT: "https://api.stage.hawk.so"

      - name: Make prod envfile
        if: endsWith(github.ref, '/prod')
        uses: SpicyPizza/create-envfile@v1
        with:
          envkey_VITE_HAWK_TOKEN: ${{ secrets.HAWK_TOKEN_PROD }}
          envkey_VITE_AMPLITUDE_TOKEN: ${{ secrets.AMPLITUDE_TOKEN_PROD }}
          envkey_VITE_CLOUDPAYMENTS_PUBLIC_ID: ${{ secrets.CP_PUBLIC_ID_PROD }}
          envkey_VITE_API_ENDPOINT: "https://api.hawk.so"
          envkey_VITE_FREE_PLAN_ID: ${{ secrets.FREE_PLAN_ID }}

      - name: Make prod envfile
        if: endsWith(github.ref, '/prod-ru')
        uses: SpicyPizza/create-envfile@v1
        with:
          envkey_VITE_HAWK_TOKEN: ${{ secrets.HAWK_TOKEN_PROD }}
          envkey_VITE_AMPLITUDE_TOKEN: ${{ secrets.AMPLITUDE_TOKEN_PROD }}
          envkey_VITE_CLOUDPAYMENTS_PUBLIC_ID: ${{ secrets.CP_PUBLIC_ID_PROD }}
          envkey_VITE_API_ENDPOINT: "https://api.hawk-tracker.ru"
          envkey_VITE_FREE_PLAN_ID: ${{ secrets.FREE_PLAN_ID }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_REPO }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value={{branch}}-{{sha}}-{{date 'X'}},enable=${{ startsWith(github.ref, 'refs/heads') }}

      - name: Build and push production image
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          push: ${{ endsWith(github.ref, '/stage') || endsWith(github.ref, '/prod') || endsWith(github.ref, '/prod-ru') }}
